<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Bloggins|Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" type="text/css" href="./responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="./script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid text-light">
        <a class="navbar-brand me-auto" href="#">Boggings</a>
        <button
          class="navbar-toggler "
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Features
              </a>
              <ul class="dropdown-menu">
                <a href="/" class="footer-link"></a><li><a class="dropdown-item" href="/business">Business</a></li>
                <a href="/" class="footer-link"></a><li><hr class="dropdown-divider"/></li>
                <a href="/" class="footer-link"></a><li><a class="dropdown-item" href="/gaming">Gaming</a></li>
                <a href="/" class="footer-link"></a><li><hr class="dropdown-divider"/></li>
                <a href="/" class="footer-link"></a><li>
                  <a class="dropdown-item" href="/technology">Technology</a>
                </li>
                <a href="/" class="footer-link"></a><li><hr class="dropdown-divider"/></li>
                <a href="/" class="footer-link"></a><li><a class="dropdown-item" href="/science">Science</a></li>
                <a href="/" class="footer-link"></a><li><hr class="dropdown-divider"/></li>
                <a href="/" class="footer-link"></a><li><a class="dropdown-item" href="/health">Wellness</a></li>
              </ul>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/newBlog">New Blog</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/profile">My profile</a>
            </li>
          <form class="d-flex" action="/search" role="search" method="get">
             <label for="search" class="form-label"></label>
            <input
              class="form-control me-2"
              type="search"
              id="search"
              name="q"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

 <div class="first-paper">
      <div class="adjust">
        <h5 class="top-text">Arts</h5>
        <h1 class="title">Be Inspired With Dark Photo And Colorful Indoor Style</h1>
        <p class="small-text"><img class="profile-pic" src="./images/large-crowd-people-are-standing-front-stage-with-light-it.jpg" alt=""> Sandra / 🕑 Apr 24, 2018 / 💬 0 / 🤍 1 / 👁‍🗨 272.7k</p>
      </div>
    </div>

    <div class="container-fluid mb-5 mt-5">
      <div class="row ps-2">
        <% for (let i = techs.length - 1; i >= 0 ; i--) { %>
          <%const tech =  techs[i];%>
          <% if (techs.length - i > 3) break; %>
        <div class="col-md-4  mt-0 mb-3">
          <div class="card text-bg-dark">
            <img style="height: 50vh;" src="<%= tech.image %>" alt="...">
            <div class="card-img-overlay">
              <h5 class="top-text"><%= tech.category %></h5>
              <a href="/<%= tech._id %>" class="white-ref">
                <h5 class="card-title overlay-head"><%= tech.title %></h5>
                <h6 class="card-text"><small>
                  <img class="profile-pic" src="https://images.unsplash.com/photo-1675186402592-05c87ae206a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDU5fHhIeFlUTUhMZ09jfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                  <%= tech.author %> 🕑 <%= tech.createdAt.toLocaleDateString() %>
                </small></h6>
              </a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="black-div">
      <div class="blackdiv-content">
        <h1 style="color: #fff;" class="mb-5">ARTICLES YOU MAY KNOW</h1>
        <div class="container-fluid">
          <div class="row ps-2">
          <% for (let i = wellnesss.length - 1; i >= 0 ; i--) { %>
          <%const wellness =  wellnesss[i];%>
          <% if (wellnesss.length - i > 3) {break}; %>
          <div class="col-md-4 mt-0 mb-3">
            <div class="card text-bg-dark">
              <img style="height: 50vh;" src="<%= wellness.image %>" alt="...">
              <div class="card-img-overlay">
                <h5 class="top-text"><%= wellness.category %></h5>
                <a href="/<%= wellness._id %>" class="white-ref">
                  <h6 class="card-title overlay-head"><%= wellness.title %></h6>
                  <p class="card-text"><small>
                    <img class="profile-pic" src="https://images.unsplash.com/photo-1675186402592-05c87ae206a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDU5fHhIeFlUTUhMZ09jfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <%= wellness.author %> 🕑 <%= wellness.createdAt.toLocaleDateString() %>
                  </small></p>
                </a>
              </div>
            </div>
        </div>
        <% } %>
          </div>
          </div>
      </div>
    </div>

    <div class="container-fluid mb-5 mt-5">
      <div class="row ps-2">
        <h1>RECENT POSTS</h1>
        <% for (let d = AllCategory.length - 1; d >= 0; d--) { %>
          <%const category =  AllCategory[d];%>
          <% if (AllCategory.length - d > 8) {break;}; %>
          <div class="col-md-6 col-lg-3 col-sm-12 mb-2 recent-card">
            <div class="card" style="width: 16rem;">
              <img style="height: 30vh;" src="<%= category.image %>" class="card-img-top" alt="...">
              <a href="/<%= category._id %>" class="black-ref">
                <div class="card-body">
                  <p class="top-text"><%= category.category %></p>
                  <p class="card-text"><%= category.title %></p>
                </div>
              </a>
              </div>
            </div>
        <% } %>
      </div>
    </div>



    <footer class=" text-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h4>ABOUT</h4>
            <h6 class="text-footer">Mauris mattis auctor cursus. Phasellus tellus tellus, imperdiet ut imperdiet eu.</h6>
          </div>

          <div class="col-md-4">
            <h4>RECENT POSTS</h4>
            <ol class="post-list">
              <a href="/" class="footer-link"><li>Jolayemi Just GOt mad and runs on the street</li></a>
              <a href="/" class="footer-link"><li>Once again Stephen's heart has been broken</li></a>
              <a href="/" class="footer-link"><li>Will Stephen Ever love in his life again</li></a>
              <a href="/" class="footer-link"><li>Desire has finally admited she doesn't know how to spell</li></a>
            </ol>
          </div>

          <div class="col-md-4">
            <form action="">
              <label for="email"><h4>NEWSLATER</h4></label><br>
              <input type="email" class="form-control" name="email" id="email" placeholder="Your email address"><br>
              <a href="" class="btn btn-primary form-control" type="button">Sign Up</a><br>
            </form>
          </div>
        </div>
      </div>
      <hr class="divider "/>
      <div class="d-flex text-footer text-center">
        <p class="w text-center">Copyright All rights reserved</p>
      </div>
    </footer> 
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
